<link rel="stylesheet" href="./css/resume.css">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <!-- ABOUT ME -->
<!--       <div class="box">
        <h2><i class="fa fa-user ico"></i> About</h2>
        <p>Richard hails from Tulsa. He has earned degrees from the University of Oklahoma and Stanford. (Go Sooners and Cardinals!) Before starting Pied Piper, he worked for Hooli as a part time software developer. While his work focuses on applied information theory, mostly optimizing lossless compression schema of both the length-limited and adaptive variants, his non-work interests range widely, everything from quantum computing to chaos theory. He could tell you about it, but THAT would NOT be a “length-limited” conversation!</p>
      </div> -->
      <!-- EDUCATION -->
      <div class="box">
        <h2><i class="fa fa-university ico"></i> Education</h2>
        <div id="education">
          <div  class="row">
            <div class="description">
              <div class="year">2011 - 2014</div>
              <h3>University of Cincinnati</h3>
              <p><i class= "fa fa-graduation-cap ico"></i>Bachelor in Information Systems</p>
              <p></p>
              <p>
                GPA: 4.0
              </p>
                <div>Courses</div>
                <ul class="list-group">
                  <li class="list-group-item">DB1101 - Basic SQL</li>
                  <li class="list-group-item">CS2011 - Java Introduction</li>
                </ul>
            </div>

            <div class="description">
              <div class="year">2011 - 2014</div>
              <h3>Dublin Coffman High School</h3>
              <p><i class= "fa fa-graduation-cap ico"></i>Bachelor in Information Systems</p>
              <p></p>
              <p>
                GPA: 4.0
              </p>
                <div>Courses</div>
                <ul class="list-group">
                  <li class="list-group-item">DB1101 - Basic SQL</li>
                  <li class="list-group-item">CS2011 - Java Introduction</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- WORK EXPERIENCE -->
      <div class="box">
        <h2><i class= "fa fa-suitcase ico"></i> Work Experience</h2>
          <div class="job clearfix">
            <div class="row">
              <div class="details">
                <div class="year">Nov, – Nov,</div>
                <div class="where">Pied Piper</div>
                <div class="address">
                  <a href="http:&#x2F;&#x2F;piedpiper.com" target= "_blank"><i class="fa fa-globe ico"></i> http:&#x2F;&#x2F;piedpiper.com</a>
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="col-xs-offset-1 col-xs-11">
                <div class="profession">CEO&#x2F;President</div>
                <div class="description">
                  Pied Piper is a multi-platform technology based on a proprietary universal compression algorithm that has consistently fielded high Weisman Scores™ that are not merely competitive, but approach the theoretical limit of lossless compression.
                  <div class="highlights">Highlights</div>
                  <ul class="list-group">
                    <li class="list-group-item">Build an algorithm for artist to detect if their music was violating copy right infringement laws</li>
                    <li class="list-group-item">Successfully won Techcrunch Disrupt</li>
                    <li class="list-group-item">Optimized an algorithm that holds the current world record for Weisman Scores</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- AWARDS -->
      <div class="box">
        <h2><i class="fa fa-certificate ico"></i> Awards</h2>
        <ul id="awards" class="clearfix">
          <li>
            <div class="year pull-left">November  2014</div>
            <div class="description pull-right">
              <h3>Techcrunch</h3>
              <p><i class="fa fa-trophy ico"></i> Digital Compression Pioneer Award</p>
              <p>There is no spoon.</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- VOLUNTEER -->
      <div class="box">
        <h2><i class= "fa fa-group ico"></i> Volunteer</h2>
          <div class="job clearfix">
            <div class="row">
              <div class="details">
                <div class="where">CoderDojo</div>
                <div class="address">
                  <a href="http:&#x2F;&#x2F;coderdojo.com&#x2F;" target= "_blank"><i class="fa fa-globe ico"></i> http:&#x2F;&#x2F;coderdojo.com&#x2F;</a>
                </div>
                <div class="year">January 2012 – January 2013</div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11 pull-right">
                <div class="profession">Teacher</div>
                <div class="description">
                  Global movement of free coding clubs for young people.
                  <div class="highlights">Highlights</div>
                  <ul class="list-group">
                    <li class="list-group-item">Awarded 'Teacher of the Month'</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <!-- CONTACT -->
      <div class="box clearfix">
        <h2><i class="fa fa-bullseye ico"></i> Contact</h2>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-map-marker fa-fw"></span></div>
          <div class="title pull-right">2712 Broadway St</div>
          <div class="description pull-right">San Francisco, CA 94115 US</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
          <div class="title only pull-right">(912) 555-4321</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
          <div class="title only pull-right">richard.hendriks@gmail.com</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-globe fa-fw"></span></div>
          <div class="title only pull-right"><a href="http:&#x2F;&#x2F;richardhendricks.com" target="_blank">http:&#x2F;&#x2F;richardhendricks.com</a></div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-twitter-square fa-fw"></span></div>
          <div class="title pull-right">Twitter</div>
          <div class="description pull-right"><a href="https:&#x2F;&#x2F;twitter.com&#x2F;neutralthoughts" target="_blank">neutralthoughts</a></div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-soundcloud fa-fw"></span></div>
          <div class="title pull-right">SoundCloud</div>
          <div class="description pull-right"><a href="https:&#x2F;&#x2F;soundcloud.com&#x2F;dandymusicnl" target="_blank">dandymusicnl</a></div>
        </div>
      </div>
      <!-- SKILLS -->
      <div class="box">
        <h2><i class="fa fa-tasks ico"></i> Skills</h2>
        <div class="skills clearfix">
          <div class="item-skills">
              Web Development
          </div>
          <div class="col-sm-offset-1 col-sm-12 clearfix">
            <span class= "skill badge">HTML</span>
            <span class= "skill badge">CSS</span>
            <span class= "skill badge">Javascript</span>
          </div>
        </div>
        <div class="skills clearfix">
          <div class="item-skills">
              Compression
          </div>
          <div class="col-sm-offset-1 col-sm-12 clearfix">
            <span class= "skill badge">Mpeg</span>
            <span class= "skill badge">MP4</span>
            <span class= "skill badge">GIF</span>
          </div>
        </div>
      </div>
      <!-- PUBLICATIONS -->
      <div class="box">
        <h2><i class="fa fa-book ico"></i> Publications</h2>
        <div class="publication panel panel-default">
          <div class="panel-heading">
            <div class="name panel-title">Video compression for 3d media</div>
          </div>
          <div class="panel-body">
            <div class="publisher"><i class= "fa fa-bookmark ico"></i> Hooli</div>
            <div class="year">01 October  2014</div>
            <div class="address">
              <a href="http:&#x2F;&#x2F;en.wikipedia.org&#x2F;wiki&#x2F;Silicon_Valley_(TV_series)" target= "_blank"><i class="fa fa-globe ico"></i> http:&#x2F;&#x2F;en.wikipedia.org&#x2F;wiki&#x2F;Silicon_Valley_(TV_series)</a>
            </div>
            <p>Innovative middle-out compression algorithm that changes the way we store data.</p>
          </div>
        </div>
      </div>
      <!-- LANGUAGES -->
      <div class="box">
        <h2><i class="fa fa-language ico"></i> Languages</h2>
        <ul class="list-group">
          <li class=" list-group-item">English<span class="skill badge pull-right">Native speaker</span></li>
        </ul>
      </div>
      <!-- HOBBIES -->
      <div class="box">
        <h2><i class="fa fa-heart ico"></i> Interests</h2>
        <div class="interests clearfix">
          <div class="item-interests">
              Wildlife
          </div>
          <div class="col-sm-offset-1 col-sm-12 clearfix">
            <span class= "interest badge">Ferrets</span>
            <span class= "interest badge">Unicorns</span>
          </div>
        </div>
      </div>
      <div class="box">
        <h2><i class= "fa fa-check-square ico"></i> References</h2>
        <blockquote>
          <div>It is my pleasure to recommend Richard, his performance working as a consultant for Main St. Company proved that he will be a valuable addition to any company.</div>
          <footer>
            <a href="" target= "_blank">Erlich Bachman</a>
          </footer>
        </blockquote><br>
      </div>
    </div>
  </div>
</div>

