<link rel="stylesheet" href="./css/resume.css">
<div class="container" id="test123">
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <!-- EDUCATION -->
      <div class="box">
        <h2><i class="fa fa-university ico"></i> Education</h2>
        <div id="education">
          <div  class="row">
            <div class="description">
              <div class="year">2010 - Present</div>
              <h3>University of Cincinnati</h3>
              <p><i class= "fa fa-graduation-cap ico"></i>Bachelor in Information Systems</p>
              <p></p>
                <ul class="list-group">
                  <li class="list-group-item">Expected Graduation: Fall 2015</li>
                  <li class="list-group-item">Deans List 2014</li>
                </ul>
            </div>

            <div class="description">
              <div class="year">Graduated 2010</div>
              <h3>Dublin Coffman High School</h3>
                <ul class="list-group">
                  <li class="list-group-item">3.6 GPA</li>
                  <li class="list-group-item">Honor Roll</li>
                  <li class="list-group-item">Varsity Football Captain with State Honors</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- WORK EXPERIENCE -->
      <div id="jobs" class="box">
        <h2><i class= "fa fa-suitcase ico"></i> Work Experience</h2>
          <div class="job clearfix">
            <div class="row">
              <div class="details">
                <div class="year">March 2013 – Present</div>
                <div class="where">Martin and Associates</div>
                <div class="address">
                  Software Developer/Consultant Co-op
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-offset-1 col-xs-11">
                  <ul class="list-group">
                    <li class="list-group-item">Program in the ProvideX language for the MAS accounting system to meet client’s requests and specifications</li>
                    <li class="list-group-item">Program in the ProvideX language for the MAS accounting system to meet client’s requests and specifications.</li>
                    <li class="list-group-item">Ability to inform and consult with both staff and customers</li>
                    <li class="list-group-item">Ability to lead, oversee and supervise the activities of others</li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="job clearfix">
            <div class="row">
              <div class="details">
                <div class="year">March 2013 – Present</div>
                <div class="where">Martin and Associates</div>
                <div class="address">
                  Software Developer/Consultant Co-op
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-offset-1 col-xs-11">
                  <ul class="list-group">
                    <li class="list-group-item">Program in the ProvideX language for the MAS accounting system to meet client’s requests and specifications</li>
                    <li class="list-group-item">Program in the ProvideX language for the MAS accounting system to meet client’s requests and specifications.</li>
                    <li class="list-group-item">Ability to inform and consult with both staff and customers</li>
                    <li class="list-group-item">Ability to lead, oversee and supervise the activities of others</li>
                  </ul>
              </div>
            </div>
          </div>
      </div>
      <!-- AWARDS -->
      <div class="box">
        <h2><i class="fa fa-certificate ico"></i> Awards</h2>
        <ul id="awards" class="clearfix">
          <li>
            <div class="year pull-left">November  2014</div>
            <div class="description pull-right">
              <h3>Techcrunch</h3>
              <p><i class="fa fa-trophy ico"></i> Digital Compression Pioneer Award</p>
              <p>There is no spoon.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <!-- CONTACT -->
      <div class="box clearfix">
        <h2><i class="fa fa-bullseye ico"></i> Contact</h2>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-map-marker fa-fw"></span></div>
          <div class="title pull-right">451 Warner St. Apt 2</div>
          <div class="description pull-right">Cincinnati, OH 45219</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
          <div class="title only pull-right">(614) 467-0142</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
          <div class="title only pull-right">corey@cdurth.com</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-globe fa-fw"></span></div>
          <div class="title only pull-right"><a href="www.cdurth.com" target="_blank">www.cdurth.com</a></div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-github fa-fw"></span></div>
          <div class="title pull-right">Github</div>
          <div class="description pull-right"><a href="https://github.com/cdurth" target="_blank">github.com/cdurth</a></div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
          <div class="title pull-right">Linkedin</div>
          <div class="description pull-right"><a href="http://www.linkedin.com/pub/corey-durthaler/45/882/313">Corey Durthaler</a></div>
        </div>
      </div>
      <!-- SKILLS -->
      <div class="box">
        <h2><i class="fa fa-tasks ico"></i> Skills</h2>
        <div class="skills clearfix">
          <div class="item-skills">
              Web Development
          </div>
          <div class="col-sm-offset-1 col-sm-12 clearfix">
            <span class= "skill badge">AngularJS</span>
            <span class= "skill badge">NodeJS</span>
             <span class= "skill badge">SQL</span>
            <span class= "skill badge">MongoDB</span>
          </div>
        </div>
        <div class="skills clearfix">
          <div class="item-skills">
              Computing
          </div>
          <div class="col-sm-offset-1 col-sm-12 clearfix">
            <span class= "skill badge">Windows</span>
            <span class= "skill badge">Linux Shell</span>
            <span class= "skill badge">Mac</span>
          </div>
        </div>
      </div>
      <!-- HOBBIES -->
      <div class="box">
        <h2><i class="fa fa-heart ico"></i> Interests</h2>
        <div class="interests clearfix">
          <div class="item-interests">
              Hackathons
          </div>
          <div class="col-sm-offset-1 col-sm-12 clearfix">
            <span class= "interest badge">Hack Illinois</span>
            <span class= "interest badge">Boilermake</span>
            <span class= "interest badge">Revolution UC</span>
            <span class= "interest badge">Bearcat Launchpad</span>
            <span class= "interest badge">Startup Weekend Cincinnati</span>
          </div>
        </div>
      </div>
      <div class="box">
        <h2><i class= "fa fa-check-square ico"></i> References</h2>
        <blockquote>
          <div>It is my pleasure to recommend Richard, his performance working as a consultant for Main St. Company proved that he will be a valuable addition to any company.</div>
          <footer>
            <a href="" target= "_blank">Erlich Bachman</a>
          </footer>
        </blockquote><br>
      </div>
    </div>
  </div>
</div>

