

<div class="container text-center">
<!--   <div class="row">
      <div id="nametext">Corey J. Durthaler</div>
      <br>  
  </div> -->

  <div class="row">
     <div class="carre_couleur base_hov" style="background-color:#95A5A6;">
        <div id="headshot-wrap">
          <img id="headshot" class="img-responsive" src="./img/pic2.png"  alt="">
        </div>
        <div class="acced">
          <div id="nametext">Corey J. Durthaler</div>
        </div>
      </div>
    <a ui-sref="about">
      <div class="carre_couleur base_hov" style="background-color:#52B3D9;">
        <div class="retract" style="background-color:#52B3D9;"><img src="./img/Newspaper-256.png" class="img-responsive"></div>
        <div class="acced">
          <div class="big_acced" style="color:#399AC0;">ABOUT ME</div>
<!--           <div class="middle_acced">My resume and experience</div> -->
        </div>
      </div>
   </a> 
   <a ui-sref="labs">
    <div class="carre_couleur base_hov" style="background-color:#2ecc71;">
      <div class="retract" style="background-color:#2ecc71;"><img src="./img/Hospital-Lab-256.png" class="img-responsive"></div>
      <div class="acced">
        <div class="big_acced" style="color:#27ae60;">LABS</div>
<!--         <div class="middle_acced">See what I've been working on</div> -->
      </div>
    </div>
  </a>
  <a ui-sref="contact">
    <div class="carre_couleur base_hov" style="background-color:#e74c3c;">
      <div class="retract" style="background-color:#e74c3c;"><img src="./img/Voicemail-256.png" class="img-responsive"></div>
      <div class="acced">
        <div class="big_acced" style="color:#c0392b;">CONTACT</div>
<!--         <div class="middle_acced">Get in contact with me</div> -->
      </div>
    </div>
  </a>
  </div>
  <div class="row">
    <ul id="listtext" class="list-inline">
      <li>Student</li>
      <li class="square">&#x220e;</li>
      <li>WebDev</li>
      <li class="square">&#x220e;</li>
      <li>Creator</li>
    </ul>
  </div>
</div>