

<div class="container-fluid">
<!--   <div class="row">
      <div id="nametext">Corey J. Durthaler</div>
      <br>  
  </div> -->

  <div class="row">
    <div class="col-sm-3 activehome">
     <div class="carre_couleur base_hov" style="background-color:#95A5A6;">
        <div id="headshot-wrap">
          <img id="headshot" class="img-responsive" src="./img/pic2.png"  alt="">
        </div>
        <div class="acced">
          <div id="nametext">Corey J. Durthaler</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 activeabout">
    <a ui-sref="about">
      <div class="carre_couleur base_hov">
        <div class="retract"><img src="./img/Newspaper-256.png" class="img-responsive"></div>
        <div class="acced">
          <div class="big_acced" style="color:#399AC0;">ABOUT ME</div>
<!--           <div class="middle_acced">My resume and experience</div> -->
        </div>
      </div>
   </a>
   </div>
  <div class="col-sm-3 activelabs">
   <a ui-sref="labs">
    <div class="carre_couleur base_hov">
      <div class="retract"><img src="./img/Hospital-Lab-256.png" class="img-responsive"></div>
      <div class="acced">
        <div class="big_acced" style="color:#27ae60;">LABS</div>
<!--         <div class="middle_acced">See what I've been working on</div> -->
      </div>
    </div>
  </a>
  </div>
  <div class="col-sm-3 activecontact">
  <a ui-sref="contact">
    <div class="carre_couleur base_hov" style="background-color:#e74c3c;">
      <div class="retract"><img src="./img/Voicemail-256.png" class="img-responsive"></div>
      <div class="acced">
        <div class="big_acced" style="color:#c0392b;">CONTACT</div>
<!--         <div class="middle_acced">Get in contact with me</div> -->
      </div>
    </div>
  </a>
  </div>
  </div>
  <div class="row">
    <ul id="listtext" class="list-inline text-center">
      <li>Student</li>
      <li class="square">&#x220e;</li>
      <li>WebDev</li>
      <li class="square">&#x220e;</li>
      <li>Creator</li>
    </ul>
  </div>
</div>